.project-container {
  background-color: #fff;
  /* width: 80%; */
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* margin: 0 auto; */
}

.project-name {
  margin-top: 0;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 10px 0;
}

.project-tech-stack {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  margin-top: 20px;
}

.project-link {
  background-color: #333;
  border-radius: 5px;
  margin-right: 3rem;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-link:hover {
  background-color: #555;
}


.project-demo .project-gif {
  width: 100%;
  background-color: #ffffff;
  object-fit: fill;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1rem 0;
}

.expand-button {
  background-color: #333;
  border-radius: 5px;
  margin-right: 3rem;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

.expand-button:hover {
  cursor: pointer;
  background-color: #555;
}

@media screen and (min-width: 600px) {

  .project-details {
    grid-template-columns: 3fr 2fr;
  }

  .project-feedback {
    width: 60%;
    margin-top: 0;
    
  }
}
