/* .project-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project-name {
  margin-top: 0;
}

.project-description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 10px 0;
}

.project-tech-stack {
  font-weight: bold;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  margin-top: 20px;
}

.project-link {
  background-color: #333;
  border-radius: 5px;
  margin-right: 3rem;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project-link:hover {
  background-color: #555;
}

.project-demo .project-gif {
  width: 100%;
  background-color: #ffffff;
  object-fit: fill;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1rem 0;
}

.expand-button {
  background-color: #333;
  border-radius: 5px;
  margin-right: 3rem;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}

.expand-button:hover {
  cursor: pointer;
  background-color: #555;
}

@media screen and (min-width: 600px) {
  .project-details {
    grid-template-columns: 3fr 2fr;
  }

  .project-feedback {
    width: 60%;
    margin-top: 0;
  }
} */


/* Example CSS for styling Project component */
.project-container {
  /* border: 1px solid #ddd;
  border-radius: 5px; */
  margin: auto;
  padding: 10px;
  width: 70%;

  
  /* background-color: #f7f7f7; */
}

.project-name {
  font-size: 24px;
  color: #333;
}

.project-tech-stack {
  font-size: 16px;
  /* color: #666; */
  color: #b9b9b9;
  box-shadow: 0 4px 6px black;
}

.project-description {
  font-size: 1rem;
  /* color: #444; */
  margin-top: 10px;
}

.project-details {
  /* Styles for project details if expanded */
}

.project-demo {
  /* Styles for project demo section */
}

.project-gif {
  max-width: 100%;
  height: auto;
}

.project-links {
  margin-top: 10px;
}

.project-link {
  text-decoration: none;
  color: #0074cc;
  margin-right: 10px;
}

.expand-button {
  /* background-color: #587c98; */
  /* color: white; */
  /* border: none; */
  /* padding: 5px 10px; */
  /* border-radius: 3px; */
  /* cursor: pointer; */
  /* outline: none; */

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 700;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}
