.composer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  width: 100%;
}

.start-button {
  background-color: #baf5bc;
  color: rgb(30, 28, 28);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.scale-dropdown {
  padding: 5px;
  font-size: 16px;
}

.num-col-input {
  padding: 5px;
  width: 60px;
  font-size: 16px;
}
