.gists-page {
  font-family: 'Courier New', monospace;
  padding: 20px;
  background-color: #f4f4f4;
}

.page-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.loading {
  font-size: 1.5rem;
  color: #888;
  text-align: center;
}

.gist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.gist-view {
  background: #fff;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gist-view:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gist-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gist-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.toggle-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  align-self: flex-start;
}

.toggle-button:hover {
  background-color: #fff;
  color: #333;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.pagination-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
  transition: background-color 0.2s, color 0.2s;
}

.pagination-button:disabled {
  background-color: #ccc;
  border: 2px solid #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #fff;
  color: #333;
}

.page-number {
  font-size: 1.25rem;
  color: #333;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  height: 80%;
}

.modal-close {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 20px;
}

.modal-close:hover {
  background-color: #fff;
  color: #333;
}
