.item-container {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.item-container:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.item-button:hover {
  color: #007bff;
}

.item-name {
  font-size: 25px;
  /* margin-left: 10px; */
  font-style: italic;
  color: #000000;
}

@media (max-width: 768px) {
  .directory-item,
  .file-item {
    margin: 1px;
    padding: 1px;
  }
}
