.home-container {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 40px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px; /* Adjust as needed */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease; /* Animation for sliding */
}

.carousel-item {
  flex: 0 0 100%; /* Each item takes up full width */
  /* padding: 0 5%; */
  align-items: center;
  max-width: 100%;
}

/* .inactive {
  visibility: hidden;
} */

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
  border-bottom: solid #000;
  padding-bottom: 30px;
}

.carousel-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #0056b3;
}

.home-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  text-align: center;
  width: 100%;
}

.home-description {
  flex: 1;
  max-width: 400px;
  margin-bottom: 20px;
}

.home-image-container {
  flex: 1;
  max-width: 400px;
}

.home-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

@media screen and (max-width: 900px) {
  .carousel-container {
    width: 90%;
  }

  .home-description {
    max-width: 100%;
  }

  .home-image-container {
    max-width: 100%;
  }

  .home-image {
    max-width: 100%;
  }

  .carousel-buttons {
    margin-bottom: 10px;
  }

  .carousel-button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .home-heading {
    font-size: 1.5rem;
  }

  .home-content {
    display: block;
  }
}
