.markdown-file-viewer {

  /* height: 150vh; */
  /* overflow: auto; */

  /* border: 1px solid #ccc;*/
  border-radius: 5px;
  /* background-color: none; */
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#f8f8f8
}

.md-content {
  position: block;
  white-space: pre-wrap;
  overflow-x: auto;
  margin: 0;
  width: 90%;
  padding: 0 5%;
  height: 100%;
  /* background-color: aliceblue; */
}

.md-content table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: block;
  overflow: auto;
}

.md-content table th {
  font-weight: bold;
}

.md-content table th,
.md-content table td {
  padding: 6px 13px;
  border: 1px solid #4a4a4a;
}

.md-content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.md-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
