/* Navbar container */
.navbar {
  background-color: #333;
  color: #fff;
}

/* AppBar */
.app-bar {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  /* max-width: 960px; */
  margin: 0 10%;
  width: 100%;
}

/* Navigation links */
.nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #555;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
  .app-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .toolbar {
    margin: 0 0;
  }
}
