
  
  .contact-select {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 20px;
    width: 100%;
    padding: 0.5rem;
    max-width: 400px;
  }
  
  .contact-select option {
    color: #333;
  }
  
  .contact-select:focus {
    outline: none;
    box-shadow: 0px 0px 5px #2196f3;
  }
  