form {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 400px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}

.contact-form {
  flex: 1;
  margin-left: 5rem;
}

.please-be-nice {
  flex: 1;
  padding-left: 50px; /* Adjust the padding as needed */
  margin-right: 20%;
  font-size: 140%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #444;
  width: 100%;
  max-width: 400px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #4c9aff;
  box-shadow: 0 0 0 0.125rem rgba(76, 154, 255, 0.25);
}

textarea {
  height: 150px;
  resize: vertical;
}

button[type="submit"] {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #4c9aff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  max-width: 400px;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  background-color: #0069d9;
}

button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem rgba(76, 154, 255, 0.25);
}

@media screen and (max-width: 600px) {
  .contact-form {
    margin-left: 0;
    margin-bottom: 2rem; /* Add some spacing between the form and the text */
  }

  .please-be-nice {
    margin-right: 0;
  }
}
