body {
  font-family: "Ubuntu", sans-serif;
}

.page-container {
  position: relative;
  padding: 2rem 2rem 0rem 2rem;
}

@media (max-width: 768px) {
  .page-container {
    padding: 2rem 1rem 0rem 0.5rem;
  }
}
