
.screen-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr minmax(0, max-content);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
}

.page-content {
  position: relative;
  margin-top: 4rem;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
} 
