.print-button {
  /* width:max-content;
  background-color: #767676;
  color: #fff;
  border: none;
  padding: .5rem .75rem;
  border-radius: 5px;
  cursor: pointer; */
  margin-bottom: 4%;
  /* margin-right: 5%; */

}

.print-button:hover {
  background-color: green;
}