

.skills-container, 
.education-container, 
.experience-container, 
.contributions-container {
  background-color: #fff;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .skills-container, 
  .education-container, 
  .experience-container, 
  .contributions-container {
    width: 90%;
  }
}

.section-heading {
  color: #333;
  font-size: 2em;
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #a3cffc;
}

.education-details {
  display: flex;
  justify-content: space-between;
}

.education-item {
  flex-basis: 48%;
}

.institution-name {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.education-date,
.company,
.degree,
.date, 
.gpa {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.date {
  font-style: italic;
}


.experience-item {
  margin-bottom: 70px;
}

.position {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}



.responsibilities {
  list-style: disc;
  margin-left: 20px;
  font-size: 1.1em;
}



.skills-container ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills-container li {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
}

.contributions-container a {
  text-decoration: none;
}


