









/* .about-me-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-me-info {
  display: flex;
  flex-wrap: wrap;
}

.about-me-info-section {
  flex: 1 1 33%;
  padding: 10px;
  margin-bottom: 20px;
}

.about-me-info-section-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-me-info-section-text {
  font-size: 14px;
}

.about-me-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-me-skills li {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
} */
