

.skills-container, 
.education-container, 
.experience-container, 
.contributions-container {
  background-color: #fff;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .skills-container, 
  .education-container, 
  .experience-container, 
  .contributions-container {
    width: 95%;
  }
}


.about-me-container {
  width: 100%;
}

.section-heading, .section-heading-exp {
  margin-top: 5px;
  color: #333;
  font-size: 2em;
  text-align: left;
  cursor: pointer;
}

.section-heading-exp {
  margin-top: 5px;
  color: #333;
  font-size: 2em;
  text-align: left;
  cursor: pointer;
  border-bottom: 1px solid #757575;
  padding-bottom: 15px;
}

.section-heading:hover, .section-heading.exp:hover {
  color:#757575;
}

.education-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.education-item {
  flex-basis: 48%;
}

.institution-name {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.education-date,
.company,
.degree,
.date, 
.gpa {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.date {
  font-style: italic;
}


.experience-item {
  margin-bottom: 70px;
}

.position {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}



.responsibilities {
  list-style: disc;
  margin-left: 20px;
  font-size: 1.1em;
}



.skills-container ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills-container li {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
}

.responsibilities li {
  margin-bottom: 10px;
}

.contributions-container a {
  text-decoration: none;
}

@media (max-width: 800px) {
  .responsibilities  {
    padding: 0;
  }

}


