.everything-container {
  font-family: Arial, sans-serif;
  /* padding: 20px; */
  height: 30vh;
  width: 100%;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.dir-heading {
  margin-top: 0;
  /* margin-bottom: 10%; */
  color: #333;
  font-style: bold;
  font-size: 50px;
  font-weight: 700;

  /* only wrap dir items contained in this div, don't break up text */
  display: flex;
  flex-wrap: wrap;
}

.dir-item {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
