/* ProjectShowcase.css */


.project {
  width: 100%;
  margin-bottom: 2rem;
}
.project-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    /* padding: 50px; */
    background-color: #f7f7f7;
  }
  
  @media (max-width: 768px) {
    .project-showcase-container {
      flex-direction: column;
    }
  }
  