/* ProjectShowcase.css */

.project-showcase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-color: #f7f7f7;
  }
  
  @media (max-width: 768px) {
    .project-showcase-container {
      flex-direction: column;
    }
  }
  